<div class="center-container">
    <mat-card class="login-card">
      <div class="logo"><img src="./../../../assets/img/logo.png"><p>Simple CRM</p></div>
      <mat-card-title>Reset password</mat-card-title>
      <mat-card-subtitle>Please enter your email address to request a password reset</mat-card-subtitle>
      <form class="login-form">
        <mat-form-field class="full-width" appearance="standard">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" #passwordResetEmail
            placeholder="z.B. mail@example.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            E-mail is required
          </mat-error>
        </mat-form-field>
      </form>
      <div class="center-container">
        <button mat-raised-button class="login-button" value="Reset Password"
          (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset password</button>
      </div>
      <div class="center-container padding-top padding-bottom">
        <span class="auth-link" routerLink="/login">Back Login</span>
      </div>
    </mat-card>
  </div>
