<div class="displayTable center-container">
    <div class="displayTableCell">
      <div class="authBlock">
        <div class="logo"><img src="./../../../assets/img/logo.png"><p>Simple CRM</p></div>
        <h3>Thank You for Registering</h3>
        <div class="formGroup" *ngIf="authService.userData as user">
          <p>We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
          <p>Please check your email and click on the link to verfiy your email address.</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button mat-raised-button class="action-button" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Resend Verification Email
          </button>
          <button mat-raised-button class="action-button ml-8" routerLink="/login">Back to Login</button>
        </div>
      </div>
    </div>
  </div>
