<div class="center-container">
    <mat-card class="login-card">
      <div class="logo"><img src="./../../../assets/img/logo.png"><p>Simple CRM</p></div>
      <mat-card-title>Login</mat-card-title>
  
      <form class="login-form">
        <mat-form-field class="full-width" appearance="standard">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" #userName placeholder="z.B. mail@example.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email wird <strong>benötigt</strong>
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="full-width" appearance="standard">
          <mat-label>Passwort</mat-label>
          <input matInput matInput [formControl]="passwordFormControl" #userPassword placeholder="z.B. Password"
            [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password wird <strong>benötigt</strong>
          </mat-error>
  
        </mat-form-field>
        <div class="center-container">
          <button mat-raised-button class="login-button" (click)="authService.SignIn(userName.value, userPassword.value)">Einloggen</button>
        </div>
  
      </form>
  
      <div class="center-container padding-top padding-bottom fw-500">
        OR
      </div>
      <div class="center-container">
        <button mat-raised-button class="action-button" (click)="authService.GoogleAuth()">Login with Google</button>
        <button mat-raised-button class="action-button ml-8" routerLink="/signup">Signup</button>
      </div>
      <div class="center-container padding-top padding-bottom" >
        <span class="auth-link" routerLink="/forgot-password">Forgott Password?</span>
      </div>
    </mat-card>
  </div>
  
  