<div class="container-component">
    <div class="container-head">
        <div class="container-headline">
            <h1>Clients</h1>
            <p>Build your Network</p>
        </div>

        <div class="container-active">
            <div class="searchfield">
                <input name="search" [(ngModel)]="searchClient" placeholder="Find Client">
                <div class="spacer"></div>
                <mat-icon matSuffix>search</mat-icon>
            </div>
    
            <button mat-button (click)="openDialogAddClient()">
                <span>Add Client</span>
                <mat-icon matSuffix>add</mat-icon>
            </button>
        </div>
    </div>

    <div class="container-content">
        <mat-card class="is-empty-note" *ngIf="allClients.length == 0">
            You have no clients yet. Use the button above to add your clients.
        </mat-card>


        <mat-card *ngFor="let client of allClients | filter:searchClient" [routerLink]="['/mainpage/clients/' + client.clientId]">
            <mat-icon matSuffix *ngIf="client.companySize == 'Start-up'">rocket_launch</mat-icon>
            <mat-icon matSuffix *ngIf="client.companySize == 'Small Business'">storefront</mat-icon>
            <mat-icon matSuffix *ngIf="client.companySize == 'Medium-sized Company'">store</mat-icon>
            <mat-icon matSuffix *ngIf="client.companySize == 'Big Business'">business</mat-icon>
            <mat-icon matSuffix *ngIf="client.companySize == ''">handshake</mat-icon>
            <p>{{ client.company}}</p>
            <p>{{ client.contactFirstName }} {{ client.contactLastName }}</p>
            <p>{{ client.email }}</p>
            <p>{{ client.country }}</p>
        </mat-card>
    </div>
</div>