<form #f="ngForm" class="dialog-container" novalidate>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h1 mat-dialog-title>Add Task</h1>
    <div mat-dialog-content class="mat-dialog-content">
        <div class="container b-r">
            <mat-form-field id="title" appearance="outline">
                <mat-label>Enter a title</mat-label>
                <input [(ngModel)]="task.title" name="title" matInput [disabled]="loading" placeholder="Enter a Title"
                    required>
            </mat-form-field>

            <mat-form-field id="description" appearance="outline">
                <mat-label>Enter a description</mat-label>
                <textarea [(ngModel)]="task.description" name="description" matInput [disabled]="loading"
                    required></textarea>
            </mat-form-field>

            <label for="prio">Prio</label>
            <mat-button-toggle-group class="prio" [(ngModel)]="task.prio" [ngModelOptions]="{standalone: true}">
                <mat-button-toggle value="urgent" [disabled]="loading">
                    <span>Urgent</span>
                    <img src="./../../assets/img/urgent.png">
                </mat-button-toggle>
                <mat-button-toggle value="medium" [disabled]="loading">
                    <span>Medium</span>
                    <img src="./../../assets/img/medium.png">
                </mat-button-toggle>
                <mat-button-toggle value="low" [disabled]="loading">
                    <span>Low</span>
                    <img src="./../../assets/img/low.png">
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div class="container">
            <mat-form-field id="category" appearance="outline">
                <mat-label> Select a Category</mat-label>
                <mat-select [(ngModel)]="task.category" name="category" [disabled]="loading" required>
                    <mat-option value="Administration">Administration</mat-option>
                    <mat-option value="Sales">Sales</mat-option>
                    <mat-option value="Marketing">Marketing</mat-option>
                    <mat-option value="Finances">Finances</mat-option>
                    <mat-option value="IT">IT</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field id="date" class="example-full-width" appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input [(ngModel)]="dueDate" name="dueDate" matInput [matDatepickerFilter]="myFilter"
                    [matDatepicker]="picker" [disabled]="loading" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field id="assigned" appearance="outline">
                <mat-label> Select Contacts to assign</mat-label>
                <mat-select [(ngModel)]="task.contacts" name="contacts" [disabled]="loading" multiple>
                    <mat-option *ngFor="let contact of allContacts" [value]="contact">
                        {{ contact.firstName }} {{ contact.lastName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions>
        <button class="button-cancel" [disabled]="loading" mat-button (click)="dialogRef.close()">
            <span>Clear</span>
            <mat-icon fontIcon="close"></mat-icon>
        </button>
        <button type="submit" class="button-save" [disabled]="!f.form.valid || loading" (click)="save()" mat-button
            cdkFocusInitial>
            <span>Create Task</span>
            <mat-icon fontIcon="check"></mat-icon>
        </button>
    </div>

</form>