.container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    .container-headline {
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
        border-right: 2px solid #29ABE2;
        margin: unset;
        padding-right: 32px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    p {
        margin: unset;
        font-size: 20px;
        margin-left: 32px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    button {
        display: flex;
        align-items: center;
        height: 32px;
        background-color: #2A3647;
        color: white;
        padding: 4px;
        border: unset;
        border-radius: 5px;
        cursor: pointer;
        transition: all 125ms ease-in-out;

        mat-icon {
            margin-left: 8px;
        }

        &:hover {
            background-color: #29ABE2;
            transition: all 125ms ease-in-out;
        }
    }
}

table {
    width: 100%;
    margin-bottom: 16px;
}

.mat-column-profileImg {
    span {
        padding: 8px;
        border-radius: 100px;
        color: white;
        font-size: 12px;
        font-weight: 500;
        margin-right: 32px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

th.mat-header-cell {
    background-color: #2A3647;
    color: white;
}

td.mat-cell{
    font-size: 12px;
}

tr.mat-row {
    transition: all 225ms ease-in-out;
}

tr.mat-row:hover {
    cursor: pointer;
    padding: 4px;
    background-color: #E6E6E6;
    transition: all 225ms ease-in-out;
}

.container-content {

    .is-empty-note {
        cursor: default;

        &:hover {
            background-color: white;
        }
    }
}

.container-active {
    display: flex;
    align-items: center;
}