<div class="center-container">
  <mat-card class="login-card">
    <div class="logo"><img src="./../../../assets/img/logo.png"><p>Simple CRM</p></div>
    <mat-card-title>Signup</mat-card-title>
    <mat-card-subtitle>Signup with your e-mail</mat-card-subtitle>

    <form class="login-form">
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" #userEmail placeholder="z.B. mail@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email wird <strong>benötigt</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Passwort</mat-label>
        <input matInput matInput [formControl]="passwordFormControl" #userPwd placeholder="z.B. Password"
          [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password wird <strong>benötigt</strong>
        </mat-error>

      </mat-form-field>
      <div class="center-container">
        <button mat-raised-button class="signup-button" (click)="authService.SignUp(userEmail.value, userPwd.value)">Registrieren</button>
      </div>

    </form>

    <div class="center-container padding-top padding-bottom">
      <span class="auth-link" routerLink="/login">Zurück zu Login</span>
    </div>

  </mat-card>
</div>